body {
    text-align: center;
    font-family: 'Kirang Haerang', cursive;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Modern Antiqua', cursive;
    font-family: 'Amatic SC', cursive;
}

.title {
  font-size: 10rem;
  font-family: 'Amatic SC', cursive;
  font-weight: 300;
  color: #cc8904;
}

.title2 {
  font-size: 1.5rem;
  font-family: 'Modern Antiqua', cursive;
  color: #b3ccc8;
}

.subtitle {
  font-family: 'Kirang Haerang', cursive;
  font-weight: 300;
  font-size: 3rem;
  color: #a56b81;
}

span {
font-family: 'Kirang Haerang', cursive;
font-size: 5rem;
color: #a56b81;
}

.division {
font-family: 'Amatic SC', cursive;
font-size: 5rem;
font-weight: 300;
color: #cc8904;
}

.stats {
  font-size: 5rem;
  font-family: 'Amatic SC', cursive;
  font-weight: 300;
  color: #cc8904;
}

.question {
  font-size: 3rem;
  font-family: 'Amatic SC', cursive;
  font-weight: 300;
  color: #a56b81;
}

.button {
font-family: 'Kirang Haerang', cursive;
font-size: 5rem;
color: #a56b81;
}
